<!DOCTYPE html>
<html>
<title>SICOSP - Catálogo de produtos | 0.1 Beta</title>

<xmp theme="united" style="display:none;">
${grailsApplication.mainContext.servletContext.getResourceAsStream('README.md').text}
</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html>